@charset 'UTF-8';


@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oswald:wght@200..700&display=swap');

p{
    text-indent: 2em;
}
.conteudo{
    margin-top: 20px;
    text-align: center;
    font-family: "Monoton", sans-serif;
    color: #D32F2F;
}

.fotos{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    cursor: pointer;
}


img{
    margin-bottom: 20px;
}

.foto-tech{
    width: 300px;
    display: flex;
    border-radius: 15px;
    margin-right: 20px;
}

.nome-figura{
    text-align: center;
}

.foto-tec{
    width: 300px;
    display: flex;
    margin: auto;
}